*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';

}
body{
    color: #f0eded;

}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration-color: #f8f7f7;

}
.logo{
    position: relative;
    font-size: 25px;
    color: #f8f7f7;
    text-decoration: none;
    font-weight: 600;
    margin-top: -200px;
    margin-left: 10px;

}
.navbar{
   display: inline-block;
    font-size: 25px;
    color: rgb(247, 241, 241);
    text-decoration: none;
    font-weight: 500;
    margin-left: display35px;
    transition: .3s;
    margin-top: -250px;
    margin-left: -200px;
    margin-right: 50px;
    margin-bottom: -50px;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover{
    color: rgb(26, 190, 190);


}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background:url(photo1.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    padding: 70px 10% 0;

}
.home-content{
    max-width: 600px;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(19, 128, 136);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

       
.home-sci a:hover{
    background: rgb(220, 226, 226);
    color: #ecf2f7;
    
}
.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background:white;
    border-radius: 40px;
    font-size: 16px;
    color: #b103a8;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(244, 247, 247),
    0 0 25px rgb(225, 228, 228), 0 0 50px rgb(233, 241, 241),
    0 0 100px rgb(231, 236, 236), 0 0 200px rgb(222, 224, 224)
}

img{
    margin-left: 50px;
    border-radius: 100px;
    padding: 10px;
    margin-top: 30px;
}
.tree{
    width: 200px;
    height: 200px;
    margin-left: 600px;
    margin-top: 80px;
    position: relative
    
}
@media screen and (max-width: 992px) {
    body {
    color: white;
    }
   }
   @media screen and (max-width: 600px) {
    body {
    background-color: olive;
    color: white;
    }
   }
   